// Use a more-intuitive box-sizing model.
*, *::before, *::after {
  box-sizing: border-box;
}

// Remove default margin
* {
  margin: 0;
}
/*
Add accessible line-height
Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

// Improve media defaults
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
// Remove built-in form typography styles
input, button, textarea, select {
  font: inherit;
}
// Avoid text overflows
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
// Create a root stacking context
#root, #__next {
  isolation: isolate;
}

#background {
  height: 100vh;
  width: 100vw;
  background-color: red;
}

#main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 90vw;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  overflow: hidden;
}

#static-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: darkmagenta;
  height: 10rem;
  width: 100%;
}

#scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: darkblue;
  height: 10rem;
  width: 100%;
}