@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,100;0,400;0,800;1,100;1,400;1,800&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#background {
  height: 100vh;
  width: 100vw;
  background-color: #222222;
}

#main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  padding: 0 0 0 7rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}
#main-container #static-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 32rem;
  width: 100%;
  flex: 1;
}
#main-container #static-container #static-bird {
  height: 8rem;
  width: auto;
  margin: 0 0 0.5rem -4.3rem;
}
#main-container #static-container #header {
  font-size: 5rem;
  color: #ffffff;
  margin-bottom: 0;
  letter-spacing: 0.15rem;
  line-height: 0.7;
}
#main-container #static-container #header span {
  color: #ffffff;
}
#main-container #static-container #header span:hover {
  color: #FD7F20;
}
#main-container #static-container #header:hover {
  color: #FD7F20;
}
#main-container #static-container #subhead {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 1rem;
  font-weight: 100;
  letter-spacing: 0.15rem;
}
#main-container #static-container .nav-link {
  font-size: 0.9rem;
  letter-spacing: 0.15rem;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 0.5rem;
}
#main-container #static-container .nav-link:hover {
  color: #FD7F20;
}
#main-container #static-container #social-container {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
#main-container #static-container #social-container .social-icon {
  font-size: 1rem;
  color: #ffffff;
}
#main-container #static-container #social-container .social-icon:hover {
  color: #FD7F20;
}
#main-container #static-container footer {
  margin-top: 2rem;
}
#main-container #static-container footer p {
  font-size: 0.7rem;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.15rem;
}

#scroll-container {
  height: 80vh;
  width: 100%;
  flex: 1.5;
  overflow: auto;
  scroll-behavior: smooth;
}
#scroll-container .scroll-info-container {
  height: auto;
  width: 100%;
  max-width: 40rem;
  margin-bottom: 2rem;
  padding: 0.2rem 0rem 2rem 0;
  border-top: 1rem #000000 solid;
}
#scroll-container .scroll-heading {
  font-size: 1.7rem;
  font-weight: 700;
  color: #FD7F20;
  margin-bottom: 1rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}
#scroll-container .scroll-heading:hover {
  color: #ffffff;
}
#scroll-container .scroll-subheading {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
  border-top: 0.2rem #000000 solid;
  margin: 1.8rem 0 0.15rem 0;
}
#scroll-container .scroll-subheading .first {
  margin: 0 0 0.15rem 0;
}
#scroll-container .scroll-info {
  font-size: 0.9rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0.5rem;
}
#scroll-container .scroll-info.top {
  margin-bottom: 0;
}
#scroll-container .scroll-info.link {
  color: #FD7F20;
  cursor: pointer;
}
#scroll-container .scroll-info.link:hover {
  color: #ffffff;
}
#scroll-container .scroll-text {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0.5rem;
}
#scroll-container .scroll-text .arrow {
  color: #FD7F20;
  margin-right: 0.15rem;
}/*# sourceMappingURL=style.css.map */