@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,100;0,400;0,800;1,100;1,400;1,800&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul {
  list-style-type: none;
}

#background {
  height: 100%;
  width: 100vw;
  background-color: #222222;
}
@media screen and (min-width: 480px) {
  #background {
    height: 100vh;
  }
}

#nav-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 100vw;
  background-color: #222222;
  border-bottom: 0.15rem #555555 solid;
  padding: 0.2rem 1rem 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  gap: 0.75rem;
  letter-spacing: 0.04rem;
}
#nav-mobile .nav-link-mobile {
  font-size: 0.8rem;
  font-weight: 800;
  color: #ffffff;
}
#nav-mobile .nav-link-mobile .active {
  color: #FD7F20;
}
@media screen and (min-width: 480px) {
  #nav-mobile {
    display: none;
  }
}

#main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  #main-container {
    flex-direction: row;
    padding: 0 0 0 4rem;
    margin-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  #main-container {
    flex-direction: row;
    padding: 0 0 0 7rem;
    margin-top: 0;
  }
}
#main-container #static-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 36rem;
  width: 100%;
  flex: 1;
}
#main-container #static-container #static-bird {
  height: 8rem;
  width: auto;
  margin: 0 0 0.5rem -4.3rem;
}
#main-container #static-container #nav-desktop {
  display: none;
}
@media screen and (min-width: 480px) {
  #main-container #static-container #nav-desktop {
    display: flex;
    flex-direction: column;
  }
}
#main-container #static-container #header {
  font-size: 5rem;
  color: #ffffff;
  margin-bottom: 0;
  letter-spacing: 0.15rem;
  line-height: 0.7;
}
#main-container #static-container #header span {
  color: #ffffff;
}
#main-container #static-container #header span:hover {
  color: #FD7F20;
}
#main-container #static-container #header:hover {
  color: #FD7F20;
}
#main-container #static-container #subhead {
  font-size: 1.45rem;
  color: #ffffff;
  margin-bottom: 1rem;
  font-weight: 100;
  letter-spacing: 0.15rem;
}
#main-container #static-container .nav-link {
  font-size: 0.9rem;
  letter-spacing: 0.15rem;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 0.5rem;
  text-decoration: none;
}
#main-container #static-container .nav-link.active {
  color: #FD7F20;
}
#main-container #static-container .nav-link:hover {
  color: #FD7F20;
}
#main-container #static-container .nav-link-email {
  font-size: 0.9rem;
  letter-spacing: 0.15rem;
  font-weight: 800;
  color: #FD7F20;
  margin: 0;
}
@media screen and (min-width: 480px) {
  #main-container #static-container .nav-link-email {
    margin: 1rem 0;
  }
}
#main-container #static-container .nav-link-email:hover {
  color: #ffffff;
}
#main-container #static-container #social-container {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
#main-container #static-container #social-container .social-icon {
  font-size: 1.5rem;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  #main-container #static-container #social-container .social-icon {
    font-size: 1.2rem;
  }
}
#main-container #static-container #social-container .social-icon:hover {
  color: #FD7F20;
}
#main-container #static-container #footer-mobile {
  margin-top: 2rem;
  display: none;
}
@media screen and (min-width: 480px) {
  #main-container #static-container #footer-mobile {
    display: block;
  }
}
#main-container #static-container #footer-mobile p {
  font-size: 0.7rem;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.15rem;
}

#footer-desktop {
  margin-bottom: 1rem;
  display: block;
}
@media screen and (min-width: 480px) {
  #footer-desktop {
    display: none;
  }
}
#footer-desktop p {
  font-size: 0.7rem;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.15rem;
}

#scroll-container {
  height: 80vh;
  width: 100%;
  flex: 1.5;
  overflow: auto;
  scroll-behavior: smooth;
}
#scroll-container .scroll-info-container {
  height: auto;
  width: 100%;
  max-width: 40rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 0.2rem 0rem 2rem 0;
  border-top: 1rem #555555 solid;
}
@media screen and (min-width: 480px) {
  #scroll-container .scroll-info-container {
    padding: 0.2rem 0rem 2rem 0;
  }
}
#scroll-container .scroll-heading {
  font-size: 1.7rem;
  font-weight: 700;
  color: #FD7F20;
  margin-bottom: 1rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}
#scroll-container .scroll-heading:hover {
  color: #ffffff;
}
#scroll-container .scroll-subheading {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
  border-top: 0.2rem #000000 solid;
  margin: 1.8rem 0 0.15rem 0;
  letter-spacing: 0.1rem;
  line-height: 1.1;
}
#scroll-container .scroll-subheading .first {
  margin: 0 0 0.15rem 0;
}
#scroll-container .scroll-info {
  font-size: 0.9rem;
  font-weight: 400;
  color: #888888;
  margin-bottom: 0.5rem;
}
#scroll-container .scroll-info.top {
  margin-bottom: 0;
}
#scroll-container .scroll-info.link {
  color: #FD7F20;
  cursor: pointer;
}
#scroll-container .scroll-info.link:hover {
  color: #ffffff;
}
#scroll-container #about-text {
  font-size: 2rem;
  line-height: 1;
  font-weight: 100;
  color: #ffffff;
  margin-bottom: 1.5rem;
  padding-right: 0;
}
@media screen and (min-width: 480px) {
  #scroll-container #about-text {
    padding-right: 5rem;
  }
}
#scroll-container .scroll-text {
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0.25rem;
  padding-right: 0;
}
@media screen and (min-width: 480px) {
  #scroll-container .scroll-text {
    padding-right: 5rem;
  }
}
#scroll-container .scroll-text .arrow {
  color: #FD7F20;
  margin-right: 0.15rem;
}
#scroll-container .scroll-text .link {
  color: #FD7F20;
  cursor: pointer;
}
#scroll-container .scroll-text .link:hover {
  color: #ffffff;
}
#scroll-container .project-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 0.75rem;
}
@media screen and (min-width: 480px) {
  #scroll-container .project-container {
    flex-direction: row;
  }
}
#scroll-container .project-container .project-image {
  height: auto;
  width: 100%;
  min-width: 12rem;
  border: 0.1rem #ffffff solid;
}
#scroll-container .project-container .project-image:hover {
  border: 0.1rem #FD7F20 solid;
}
@media screen and (min-width: 480px) {
  #scroll-container .project-container .project-image {
    width: 12rem;
  }
}
#scroll-container .project-container .project-text {
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0.25rem;
  padding-right: 0;
}
@media screen and (min-width: 480px) {
  #scroll-container .project-container .project-text {
    padding-right: 5rem;
  }
}
#scroll-container .project-code-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  margin: 0.75rem 0 0 0;
}
@media screen and (min-width: 480px) {
  #scroll-container .project-code-container {
    gap: 1rem;
  }
}
#scroll-container .project-code-container .project-code {
  font-size: 0.7rem;
  line-height: 1.3;
  font-weight: 400;
  color: #FD7F20;
  letter-spacing: 0.1rem;
}
@media screen and (min-width: 480px) {
  #scroll-container .project-code-container .project-code {
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
  }
}/*# sourceMappingURL=style.css.map */